html,body{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box{
	width: 200px;
	height: 60px;
	border: 1px solid black;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	overflow: hidden;
}
.box span{
	color: blue;
	display: inline-block;
	transition: 0.5s;
}
.box span:nth-child(odd){
	transform: translateY(-100%);
}
.box span:nth-child(Even){
	transform: translateY(100%);
}
/*用伪元素增添文字  显示在容器内*/
.box span::before{
	content: attr(data-text);
	color: red;
	position: absolute;
}
.box span:nth-child(odd)::before{
	transform: translateY(100%);
}
.box span:nth-child(Even)::before{
	transform: translateY(-100%);
}
/*设置鼠标滑过动画*/
.box:hover span{
	transform: translateY(0);
}
